<%- include('./parts/file_header.ejs')%>
<link rel="stylesheet" href="../styles/do_list/do_list.css">
<link rel="stylesheet" href="../styles/do_list/empty_list.css">
</head>
<body>
    <div class="wrapper">
        <%- include("./parts/header.ejs")%>

        <%- include("./parts/to_do_list.ejs")%>

        <%- include("./parts/navigation_bar/nav.ejs")%>
    </div>
</body>

<script src="../scripts/checkbox/checkbox.js"></script>
<script src="../scripts/input_size/input_resize.js"></script>
<!--<script src="../scripts/checkbox/checkbox_context_menu.js"></script>-->
<!--<script src="../scripts/group.js"></script>-->
<%- include("./parts/end.ejs") %>

</html>